.box {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

a:hover, a:focus {
  background-size: 100% 2px;
}

/* footer */
#button-addon1 {
  color: #ffc371;
}

i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #e7d5d5;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

footer {
  grid-area: footer;
  height: 20vh;
}

p {
  text-decoration: underline;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}

nav {
  background-color: #ffcdea;
}

.section1 {
  color: #f390a0;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

table tr td {
  border: 1px solid #aa5263;
  display: block;
  margin: auto;
  padding: 10px;
}

p {
  color: #a03e52;
  line-height: 22px;
}

.fontSansSerif {
  font-family: Arial, Helvetica, sans-serif;
}

.textBig {
  font-size: 18px;
}

body {
  background-color: #ffffff;
}

ul {
  list-style: none;
  font-size: 0;
}

li {
  display: flex;
  width: 20%;
  position: relative;
  font-size: 18px;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
}

.amarillo {
  background-color: yellow;
}

.azul {
  background-color: blue;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.container {
  padding: 10px;
  border: solid 1px #ffc1cb;
  background-color: #f1e4e6;
  display: flex;
}

.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.flex-direction {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content {
  justify-content: space-around;
}

footer {
  background-color: #e6e6e6;
}

main {
  background-color: #b1828a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 200px 10px 10px 10px;
}

.grid {
  padding: 20%;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 200px 200px;
  grid-column-gap: 200px;
  grid-row-gap: 400px;
  justify-content: space-between;
}

.grid div {
  width: 100px;
  height: 100px;
}

.bg-dark {
  background-color: black;
}

.bg-danger {
  background-color: #ff0537;
}

.bg-info {
  background-color: #f390a0;
}

.bg-succes {
  background-color: sandybrown;
}

.bg-warning {
  background-color: slateblue;
}

.imagencentro {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.grid-container {
  display: grid;
  grid-template-areas: "top top top top" "main main main aside" "footer footer footer footer";
}

header {
  grid-area: top;
  height: 10vh;
}

main {
  grid-area: main;
  height: 50vh;
}

aside {
  grid-area: aside;
  height: 50vh;
}

.listas {
  background-color: #f3edef;
  height: auto;
  width: auto;
  padding: 10px;
}

.listNone {
  text-decoration: none;
  color: palevioletred;
}

.textCenter {
  text-align: center;
  background-color: none;
  justify-content: center;
  display: flex;
}

/* Mobile */
@media only screen and (min-width: 0px) and (max-width: 400px) {
  main {
    height: 110vh;
  }
}
/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-areas: "top top top top" "main main main main" "aside aside aside aside" "footer footer footer footer";
  }

  main {
    height: 80vh;
  }
}
/* Desktop */
@media only screen and (min-width: 801px) and (max-width: 1400px) {
  main {
    height: 70vh;
  }
}
.transform:hover {
  transform: translate(20px, 20px);
  cursor: pointer;
}

.scale:hover {
  transform: scale(1.2, 1.5);
  transition: 3s;
  cursor: pointer;
}

button {
  width: 100px;
  height: 25px;
  background: #f9bfd6;
  background: linear-gradient(90deg, #f9bfd6 0%, #e4a9c5 32%, #f79bd2 67%);
  border-radius: 2px;
  border: none;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.saleimg {
  padding: 30px 5px 20px 7px;
}

.ncimg {
  padding: 30px 5px 20px 7px;
  margin-left: 350px;
  display: inline;
}

.ncparrafo {
  display: inline;
}

.video {
  background-color: plum;
  float: right;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
