

    .listas
    {
        background-color:rgb(243, 237, 239);
        height: auto;
        width: auto;
        padding: 10px;
   
    }  

    .listNone{
        text-decoration: none;
        color: palevioletred;
        
    }      

    .textCenter{
        text-align: center;
        background-color: none;
        justify-content: center;
        display: flex;
    }
